TEMPORAL_ADDRESS=127.0.0.1:7233
TEMPORAL_NAMESPACE=default
BRAI_CODEX_BIN={{ brai_codex_bin }}
BRAI_GOAL_AGENT_DEFAULT_MODEL=gpt-5.4-mini
BRAI_ACTIVITY_CLASSIFIER_MODEL=gpt-5.4-mini
BRAI_GOAL_ITEM_MATCHER_MODEL=gpt-5.4-mini
BRAI_GOAL_MEMBER_FINDER_MODEL=gpt-5.4-mini
BRAI_GOAL_DISCOVERY_MODEL=gpt-5.4-mini
BRAI_GOAL_PLANNER_MODEL=gpt-5.4-mini
CODEX_HOME={{ brai_goal_agent_codex_home }}
HOME={{ brai_goal_agent_codex_home }}
