BRAI_TEMPORAL_DEPLOY_HOST={{ brai_temporal_deploy_host }}
BRAI_TEMPORAL_DEPLOY_USER={{ brai_deploy_user }}
BRAI_TEMPORAL_DEPLOY_SSH_PORT={{ brai_temporal_deploy_ssh_port }}
BRAI_TEMPORAL_LOCAL_PORT={{ brai_temporal_local_port }}
BRAI_TEMPORAL_DEPLOY_REPO={{ brai_repo }}
BRAI_TEMPORAL_DEPLOY_SSH_KEY_PATH={{ brai_temporal_deploy_ssh_key_path }}
BRAI_TEMPORAL_GITHUB_TOKEN_PATH={{ brai_temporal_github_token_path }}
GITHUB_REPOSITORY={{ brai_github_repository }}
