http://{{ brai_public_site_domain }} {
  redir https://{{ brai_public_site_domain }}{uri} 308
}

{% for domain in brai_public_site_legacy_domains %}
http://{{ domain }}, {{ domain }} {
  redir https://{{ brai_public_site_domain }}{uri} 308
}
{% endfor %}

{{ brai_public_site_domain }} {
  encode zstd gzip
  tls {
    issuer acme {
      disable_http_challenge
    }
  }

  root * {{ brai_public_site_root }}
  try_files {path} {path}.html {path}/ /index.html
  file_server
}

http://{{ brai_adr_domain }} {
  redir https://{{ brai_adr_domain }}{uri} 308
}

{% for domain in brai_adr_legacy_domains %}
http://{{ domain }}, {{ domain }} {
  redir https://{{ brai_adr_domain }}{uri} 308
}
{% endfor %}

{{ brai_adr_domain }} {
  {{ brai_basic_auth_directive }}
  encode zstd gzip
  tls {
    issuer acme {
      disable_http_challenge
    }
  }

  root * {{ brai_adr_root }}
  try_files {path} {path}.html {path}/ /index.html
  file_server
}

http://{{ brai_syncthing_domain }} {
  redir https://{{ brai_syncthing_domain }}{uri} 308
}

{% for domain in brai_syncthing_legacy_domains %}
http://{{ domain }}, {{ domain }} {
  redir https://{{ brai_syncthing_domain }}{uri} 308
}
{% endfor %}

{{ brai_syncthing_domain }} {
  import brai_unified_basic_auth
  encode zstd gzip
  tls {
    issuer acme {
      disable_http_challenge
    }
  }

  reverse_proxy http://127.0.0.1:{{ brai_syncthing_gui_port }} {
    header_up Host {upstream_hostport}
  }
}

http://{{ brai_supabase_studio_domain }} {
  redir https://{{ brai_supabase_studio_domain }}{uri} 308
}

{% for domain in brai_supabase_studio_legacy_domains %}
http://{{ domain }}, {{ domain }} {
  redir https://{{ brai_supabase_studio_domain }}{uri} 308
}
{% endfor %}

{{ brai_supabase_studio_domain }} {
  import brai_unified_basic_auth
  encode zstd gzip
  tls {
    issuer acme {
      disable_http_challenge
    }
  }

  reverse_proxy 127.0.0.1:{{ brai_supabase_studio_port }}
}

http://{{ brai_api_domain }} {
  redir https://{{ brai_api_domain }}{uri} 308
}

{% for domain in brai_api_legacy_domains %}
http://{{ domain }}, {{ domain }} {
  redir https://{{ brai_api_domain }}{uri} 308
}
{% endfor %}

{{ brai_api_domain }} {
  encode zstd gzip
  tls {
    issuer acme {
      disable_http_challenge
    }
  }

  reverse_proxy 127.0.0.1:{{ brai_envs.prod.api_port }}
}

http://{{ brai_temporal_ui_domain }} {
  redir https://{{ brai_temporal_ui_domain }}{uri} 308
}

{% for domain in brai_temporal_ui_legacy_domains %}
http://{{ domain }}, {{ domain }} {
  redir https://{{ brai_temporal_ui_domain }}{uri} 308
}
{% endfor %}

{{ brai_temporal_ui_domain }} {
  {{ brai_basic_auth_directive }}
  encode zstd gzip
  tls {
    issuer acme {
      disable_http_challenge
    }
  }

  reverse_proxy 127.0.0.1:{{ brai_temporal_ui_port }}
}

http://{{ brai_envs.prod.domain }} {
  redir https://{{ brai_envs.prod.domain }}{uri} 308
}

{% for domain in brai_envs.prod.legacy_domains | default([]) %}
http://{{ domain }}, {{ domain }} {
  redir https://{{ brai_envs.prod.domain }}{uri} 308
}
{% endfor %}

{{ brai_envs.prod.domain }} {
  encode zstd gzip
  tls {
    issuer acme {
      disable_http_challenge
    }
  }

  handle /releases* {
    reverse_proxy 127.0.0.1:{{ brai_envs.prod.api_port }}
  }

  handle /favicon.ico {
    root * {{ brai_repo }}/deploy/web
    file_server
  }

  handle /apple-touch-icon* {
    root * {{ brai_repo }}/deploy/web
    file_server
  }

  @admin path /admin /admin/*
  handle @admin {
    reverse_proxy 127.0.0.1:{{ brai_envs.prod.admin_port }}
  }

  handle_path /api/* {
    reverse_proxy 127.0.0.1:{{ brai_envs.prod.api_port }}
  }

  handle_path /mobile-update/* {
    header /manifest.json Cache-Control "no-store"
    root * {{ brai_repo }}/deploy/mobile-update
    file_server
  }

  handle /timer* {
    respond "Not found" 404
  }

  handle /history* {
    respond "Not found" 404
  }

  handle {
    root * {{ brai_repo }}/deploy/web
    try_files {path} {path}.html {path}/ /index.html
    file_server
  }
}

{% for name, env in brai_envs.items() if name != 'prod' %}
http://{{ env.domain }} {
  redir https://{{ env.domain }}{uri} 308
}

{% for domain in env.legacy_domains | default([]) %}
http://{{ domain }}, {{ domain }} {
  redir https://{{ env.domain }}{uri} 308
}
{% endfor %}

{{ env.domain }} {
  encode zstd gzip
  tls {
    issuer acme {
      disable_http_challenge
    }
  }

  handle_path /api/* {
    reverse_proxy 127.0.0.1:{{ env.api_port }}
  }

  handle /releases* {
    reverse_proxy 127.0.0.1:{{ env.api_port }}
  }

  @admin path /admin /admin/*
  handle @admin {
    {{ brai_basic_auth_directive }}
    reverse_proxy 127.0.0.1:{{ env.admin_port }}
  }

  handle_path /mobile-update/* {
    header /manifest.json Cache-Control "no-store"
    root * {{ brai_env_root }}/{{ env.path }}/mobile-update
    file_server
  }

  handle {
    {{ brai_basic_auth_directive }}
    root * {{ brai_env_root }}/{{ env.path }}/web
    try_files {path} {path}.html {path}/ /index.html
    file_server
  }
}
{% endfor %}
